
body {
    background-color: #dedede;
}

main {
    border: 2px #484848 solid;
    margin: 10px;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 32px;
}

h2 {
    text-align: center;
}

a {
    color: #000;
    text-decoration: none;
    font-family:Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family:Arial, sans-serif;
}

img{
  width:100%;
}


p{
  text-align:center;
}

div img{
    width:150px;
    height: 150px;
    display:block;
    margin:auto;
}

div{
  display: inline;
  width: 24%;
  margin: 5px;
  padding: 2px;
}

footer {
    font-size: 20px;
    text-align: center;
}


@media screen and (min-width: 772px){

    div{
        display: inline-block;
        width: 45vw;
      }

      div img{
        max-height: 30vh;
    }
    
}


@media screen and (min-width: 998px){

    div{
        width: 30vw;
      }
      
}
















